@charset "UTF8";

/*
.form-cadastro {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-left: 5%;
}
*/

.form-cadastro-login {
    display: block;
    width: 40%;
    min-width: 245px;
    margin: 10px auto 0;
}

form input {
    display: block;

    background-color: var(--panel);
    border: none;
    border-bottom: 2px solid var(--blue);
    border-radius: 1px;
    /*box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);*/

    color: var(--text);
    margin-bottom: 10px;
    margin-top: 3px;
    font-size: 11pt;
    height: 1.6em;

    outline: none;
}

.dark form input {
    background-color: rgba(90, 90, 90, 0.1);
}

.light form input {
    background-color: rgba(180, 180, 180, 0.1);
}

form input:focus, form input:hover {
    background-color: rgba(0, 0, 0, .1);
}

form input[type='text'], form input[type='password'], form input[type='email'] {
    width: 100%;
}

form input[type='submit'] {
    padding: .5em 1em 1.7em;
    cursor: pointer;
}

form input[type='checkbox'] {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    margin-top: 7px;
    margin-right: 5px;

    cursor: pointer;
}

#campoSexo input, #campoSexo label {
    display: inline;
    cursor: pointer;
    box-shadow: none;
}

#campoSexo input {
    margin-top: 10px;
    margin-right: 5px;
}

#campoSexo label {
    margin-right: 25px;
}

#campoSexo label::selection {
    background-color: none;
}

#campoSexo {
    display: flex;
    vertical-align: middle;
    align-items: center;
    margin-top: -10px;
}

form label {
    font-family: 'Mulish', sans-serif;
    font-size: 11pt;
}

#campoSenha, #campoConfirmar {
    transition: all .25s;
}

#form-info-cadastro, #form-info-login {
    display: none;
    width: 45%;
    min-width: 245px;
    margin: 10px auto 0;
    padding: 5px;
    border-radius: 4px;
}

#form-info-cadastro ul, #form-info-login ul {
    padding: 0;
    padding-left: 5px;
    padding-right: -5px;
    margin: 15px 11%;
}

#form-info-cadastro li, #form-info-login li {
    padding: 0;
    margin: 0;
}

#form-info-cadastro p, #form-info-login p {
    text-align: center;
}

#form-info-cadastro.error, #form-info-login.error {
    display: block;
    background-color: #ec7f7f46;
}

#form-info-cadastro.success, #form-info-login.success {
    display: block;
    background-color: #b0ec7f46;
}

.wrong {
    box-shadow: 0px 0px 2px #ff000034;
    border-color: #ec7f7f;
}